@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply transition-colors duration-300
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Style the scrollbar track (the area where the thumb moves) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the background color of the track */
}

/* Style the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: #737373; /* Set the background color of the thumb */
  border-radius: 6px; /* Set the border radius to round the corners of the thumb */
}

/* On hover, style the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #262626; /* Set a different color on hover */
}
